body {
  margin: 0;
  overflow: hidden;
}

.background {
  width: 100vw;
  height: 100vh;
  background: #3E1E68;
}

.background span {
  width: 20vmin;
  height: 20vmin;
  border-radius: 20vmin;
  backface-visibility: hidden;
  position: absolute;
  animation-name: move;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.background span:nth-child(1) {
  color: #FFACAC;
  top: 22%;
  left: 100%;
  animation-duration: 12.9s;
  animation-delay: -14.7s;
  transform-origin: -17vw 1vh;
  box-shadow: -40vmin 0 8.1290292047vmin currentColor;
}
.background span:nth-child(2) {
  color: #FFACAC;
  top: 44%;
  left: 6%;
  animation-duration: 13.2s;
  animation-delay: -10.8s;
  transform-origin: 11vw -9vh;
  box-shadow: 40vmin 0 13.5347614525vmin currentColor;
}
.background span:nth-child(3) {
  color: #E45A84;
  top: 41%;
  left: 60%;
  animation-duration: 13.2s;
  animation-delay: -0.5s;
  transform-origin: -10vw -14vh;
  box-shadow: 40vmin 0 10.4933106246vmin currentColor;
}
.background span:nth-child(4) {
  color: #583C87;
  top: 86%;
  left: 68%;
  animation-duration: 13.4s;
  animation-delay: -2.4s;
  transform-origin: 25vw 1vh;
  box-shadow: 40vmin 0 10.0005531269vmin currentColor;
}
.background span:nth-child(5) {
  color: #FFACAC;
  top: 64%;
  left: 94%;
  animation-duration: 13.5s;
  animation-delay: -10.2s;
  transform-origin: -2vw -10vh;
  box-shadow: -40vmin 0 8.9909748661vmin currentColor;
}
.background span:nth-child(6) {
  color: #FFACAC;
  top: 65%;
  left: 47%;
  animation-duration: 13.8s;
  animation-delay: -6.1s;
  transform-origin: -1vw 11vh;
  box-shadow: -40vmin 0 12.0459287898vmin currentColor;
}
.background span:nth-child(7) {
  color: #E45A84;
  top: 72%;
  left: 98%;
  animation-duration: 13.4s;
  animation-delay: -7.6s;
  transform-origin: -18vw 4vh;
  box-shadow: 40vmin 0 13.5162977349vmin currentColor;
}
.background span:nth-child(8) {
  color: #FFACAC;
  top: 21%;
  left: 19%;
  animation-duration: 10.5s;
  animation-delay: -8.2s;
  transform-origin: -3vw 3vh;
  box-shadow: 40vmin 0 9.3224233879vmin currentColor;
}
.background span:nth-child(9) {
  color: #583C87;
  top: 34%;
  left: 76%;
  animation-duration: 13.2s;
  animation-delay: -8.6s;
  transform-origin: 21vw -16vh;
  box-shadow: -40vmin 0 9.5733531946vmin currentColor;
}
.background span:nth-child(10) {
  color: #583C87;
  top: 23%;
  left: 42%;
  animation-duration: 10.8s;
  animation-delay: -6.3s;
  transform-origin: -20vw -4vh;
  box-shadow: -40vmin 0 13.6173399352vmin currentColor;
}
.background span:nth-child(11) {
  color: #FFACAC;
  top: 18%;
  left: 5%;
  animation-duration: 10.1s;
  animation-delay: -6.3s;
  transform-origin: -6vw -15vh;
  box-shadow: -40vmin 0 5.3828374811vmin currentColor;
}
.background span:nth-child(12) {
  color: #FFACAC;
  top: 6%;
  left: 73%;
  animation-duration: 13s;
  animation-delay: -6s;
  transform-origin: 4vw -3vh;
  box-shadow: 40vmin 0 13.7613582788vmin currentColor;
}
.background span:nth-child(13) {
  color: #FFACAC;
  top: 77%;
  left: 85%;
  animation-duration: 15.8s;
  animation-delay: -8.2s;
  transform-origin: 23vw -22vh;
  box-shadow: -40vmin 0 12.285036167vmin currentColor;
}
.background span:nth-child(14) {
  color: #FFACAC;
  top: 27%;
  left: 17%;
  animation-duration: 14.8s;
  animation-delay: -14.6s;
  transform-origin: 23vw -15vh;
  box-shadow: -40vmin 0 11.3635639921vmin currentColor;
}
.background span:nth-child(15) {
  color: #583C87;
  top: 41%;
  left: 90%;
  animation-duration: 13.4s;
  animation-delay: -15.4s;
  transform-origin: -4vw -11vh;
  box-shadow: -40vmin 0 14.8287246863vmin currentColor;
}
.background span:nth-child(16) {
  color: #583C87;
  top: 48%;
  left: 95%;
  animation-duration: 10.9s;
  animation-delay: -4.6s;
  transform-origin: -1vw 10vh;
  box-shadow: 40vmin 0 9.5680364927vmin currentColor;
}
.background span:nth-child(17) {
  color: #E45A84;
  top: 53%;
  left: 14%;
  animation-duration: 12.5s;
  animation-delay: -14.6s;
  transform-origin: 4vw -7vh;
  box-shadow: 40vmin 0 8.4016163399vmin currentColor;
}
.background span:nth-child(18) {
  color: #FFACAC;
  top: 78%;
  left: 10%;
  animation-duration: 15.8s;
  animation-delay: -8s;
  transform-origin: 2vw 6vh;
  box-shadow: 40vmin 0 5.4743172218vmin currentColor;
}
.background span:nth-child(19) {
  color: #FFACAC;
  top: 98%;
  left: 96%;
  animation-duration: 12.2s;
  animation-delay: -3s;
  transform-origin: 3vw 6vh;
  box-shadow: -40vmin 0 7.9953984769vmin currentColor;
}
.background span:nth-child(20) {
  color: #583C87;
  top: 2%;
  left: 40%;
  animation-duration: 15.1s;
  animation-delay: -0.7s;
  transform-origin: -15vw 21vh;
  box-shadow: -40vmin 0 14.6128787706vmin currentColor;
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}